.profile{
    background: #F7F6F9;
}

.backgroundprofile{
    position: relative;
    height: 334px;
    width: 100%;
    border-radius: 25px;

}
.mainprofile{
    position: static;
    width: 100%;
    height: 337px;
    background: #FFFFFF;
    margin-top: 28px;
    border-radius: 25px;
}
