.profile{
    position: relative;
    height: 100vh;
    background: #f0efef;
}
.backgroundGprofile{
    position: absolute;
    min-width: 300px;
    min-width: 705px;
    height: 337px;
    left: 32%;
    top: 12%;
    border-radius: 20px;
    overflow: hidden;
    
    

}
.mainprofileG{
    position: absolute;
    width: 705px;
    height: 150px;
    left: 32%;
    top: 50%;

    background: #FFFFFF;
    border-radius: 25px;
}
