
.profile{
    position: relative;
    height: 100vh;
    background: #f0efef;
    overflow-x: scroll;
    overflow-y: hidden
}
.backgroundGprofile{
    position: absolute;
    width: 705px;
    height: 337px;
    left: 30%;
    top: 10%;
    border-radius: 20px;
    overflow: hidden;

}
.friendslist{
    position: absolute;
    width: 705px;
    height: 150px;
    left: 30%;
    top: 45%;
    border-radius: 25px;
}