
.profile{
    background: #F7F6F9;
}
.backgroundGprofile{
    position: relative;
    height: 334px;
    width: 75%;
    border-radius: 25px;

}
.friendslist{
    position: static;
    width: 75%;
    height: 150px;
    background: #FFFFFF;
    margin-top: 28px;
    border-radius: 25px;
}